*aclocal.m4
*autom4te.cache
*configure
*compile
*Makefile
*Makefile.in
*config.log
*config.h*
*config.status
*install-sh
*missing
*.tar.gz
*.deps/
*depcomp
*.o
*.dirstamp
*stamp-h1
*.swp
src/client
src/conv/
*.DS_Store
